* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    height: 1093px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../css_advanced/images/background.png);
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35.02px;
    padding-left: 171.59px;
    background-color: transparent;
    height: 29.46px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 171.59px;
    margin: 0;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.main-content {
    padding-top: 155px;

}

.main-content h1 {
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    height: 151px;
}


.main-content span {
    padding: 10px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.main-txt-span {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10;
    padding-top: 10px;
}

.register-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 38px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #C271FF;
    border-radius: 22px;
    border: none;
    height: 44px;
    width: 162px;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main-profiles {
    height: 364px;
    padding-top: 168px;
}

.main-profiles h2 {
    font-size: 32px;
    font-weight: 100; 
    color: #fff;
    text-align: center;
}

.main-profiles h2 span {
    color: #C271FF;
    font-size: 32px;
    font-weight: 600;
}

.profiles {
    width: 1009px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 136.333px;
    margin: 0 auto;
    padding-top: 87px;
    text-align: center;
}

.profile {
    text-align: center;
}

.profile img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.profile h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-top: 6px;
}

.profile p {
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    padding-top: 6px;
}

.testimonial {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 392px;
    width: 100%;
    background-color: #C271FF;
}

.testimonial-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    margin: 20px 0; 
}

